        body { background-color: #0f0f12; color: #e0e0e0; font-family: 'Segoe UI', sans-serif; margin: 0; line-height: 1.6; }
        .container { max-width: 900px; margin: 0 auto; padding: 20px; }
        a { text-decoration: none; color: inherit; transition: 0.3s; }
        
        header { text-align: center; padding: 60px 20px; border-bottom: 1px solid #333; }
        .profile-pic { width: 150px; height: 150px; background-color: #333; border-radius: 50%; margin: 0 auto 20px; border: 3px solid #3DDC84; object-fit: cover; }
        h1 { margin: 0; font-size: 2.5rem; color: #fff; }
        .subtitle { color: #3DDC84; font-size: 1.3rem; margin-top: 10px; font-weight: bold;}
        .bio { max-width: 700px; margin: 20px auto; color: #aaa; font-size: 1.1rem; }

        .btn-main { background-color: #3DDC84; color: #000; padding: 10px 20px; border-radius: 25px; font-weight: bold; display: inline-block; margin-top: 10px; }
        .btn-main:hover { transform: scale(1.05); box-shadow: 0 0 15px rgba(61, 220, 132, 0.4); }

        section { padding: 40px 0; }
        h2 { border-left: 4px solid #3DDC84; padding-left: 15px; margin-bottom: 30px; color: #fff; }

        .project-card { background-color: #1a1a1d; border-radius: 12px; padding: 25px; margin-bottom: 20px; display: flex; align-items: center; border: 1px solid #333; transition: transform 0.2s; }
        .project-card:hover { transform: translateY(-5px); border-color: #555; }
        .project-icon { font-size: 30px; margin-right: 20px; width: 60px; height: 60px; background: #2c2c30; color: #3DDC84; display: flex; align-items: center; justify-content: center; border-radius: 12px; }
        .tags span { font-size: 0.75rem; background-color: #2c2c30; padding: 3px 8px; border-radius: 4px; margin-right: 5px; color: #ccc; border: 1px solid #444; }

        .hobbies-grid { display: grid; grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); gap: 20px; }
        .hobby-card { background: #151518; padding: 15px; border-radius: 10px; text-align: center; border: 1px solid #333; }
        .hobby-icon { font-size: 2rem; color: #777; margin-bottom: 10px; }
